DATABASE_URL=postgres://postgres:postgres@postgres:5432/cook_book?sslmode=disable
JWT_SECRET=64_byte_jwt_secret_with_offset
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cook_book
AUTH_SERVICE_PORT=8000
RECIPE_SERVICE_PORT=8080
ADMINER_PORT=8081
