# Секретный ключ для подписи JWT-токенов
# Длина ключа должна составлять 88 символов (с учетом offset)
JWT_SECRET=64_byte_jwt_secret_with_offset

# Окружение (development/production)
ENVIRONMENT=development

# Настройки подключения к PostgreSQL
# Строка подключения к БД в формате postgres://user:password@host:port/dbname?sslmode=disable
DATABASE_URL=postgres://postgres:postgres@postgres:5432/cook_book?sslmode=disable

# Настройки PostgreSQL (для docker-compose)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cook_book

# Порт для auth-сервиса (Go)
AUTH_SERVICE_PORT=8000

# Порт для recipe-сервиса (FastAPI)
RECIPE_SERVICE_PORT=8080

# Порт для Adminer (веб-интерфейс к PostgreSQL)
ADMINER_PORT=8081
