# GENERAL

# ide
.vscode/
.idea/

# env
.env
.env.local
.env.*.local

# docker
volumes/

# logs
*.log

# proj docs/specs
*.docx
PROJECT_STATUS.md
API_EXAMPLES.md


# GO

# binaries
*.exe
*.test

# output
*.out

# dependency
vendor/

# swagger docs
auth/docs/

# build artifacts
auth/auth-service


# FRONTEND
node_modules
dist/


# PYTHON
__pycache__/

# virtual environment
.venv