# GENERAL

# ide
.vscode
.idea

# env
.env
.env.local
.env.*.local

# docker
volumes/

# logs
*.log

# project docs/specs
*.docx
README.md
PROJECT_STATUS.md
API_EXAMPLES.md




# GO

# binaries
*.exe
*.test

# output
*.out

# dependency
vendor/

# swagger docs
auth/docs/

# build artifacts
auth/auth-service


# frontend
frontend/
node_modules
dist/

# PYTHON
__pycache__/


# Virtual environments
.venv