# GENERAL

# ide
.vscode
.idea

# env
.env
.env.local
.env.*.local

# docker
volumes/

# logs
*.log

# project docs/specs
*.docx


# GO

# binaries
*.exe
*.test

# output
*.out

# dependency
vendor/

# swagger docs
auth/docs/

# build artifacts
auth/auth-service
